body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #ff6b28;
    font-size: 200%;
}

h3{
    color: #ff6b28;
    margin-top: 100px;

}

p, li{
    line-height: 26px;
}

p{
    text-align: justify;
    text-indent: 50px;
}

li{
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    color: white;
}



/* Header */

#top-bar{
    background-color: #ff6b28;
    height: 3vw;
    text-align: center;

    padding: 5px;
}

#logo{
    width: 18vw;
}

#bolo{
    background-image: url(./imgs/hero_bolo.jpg);
    height: 400px;
    background-size: cover;
    background-position: center;
}

/* Abaixo está como eu fiz o bolo a primeira vez, tirei ela pq com background-image é MUITO melhor 

#bolo{
    max-height: 21vw;
    overflow: hidden;
}

#img{
    width: 100vw;
}

Abaixo está como eu fiz o HTML disso

    <div id="bolo">
        <img id="img" src="./imgs/hero_bolo.jpg" alt="Imagem do bolo">
    </div>
*/

/* Conteúdo */

#container{
    width: 800px;
    margin: 60px auto 0;
}

#content{
    width: 800px;
    margin: 60px;
    margin: auto;
    line-height: 40px;
}

.box{
    margin-top: 40px;
    border-radius: 10px;
    padding: 50px;
}

.box:hover{
    box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.2), 0 6px 40px 0 rgba(0, 0, 0, 0.2);
}

.cursor1{
    cursor: url('./imgs/cursor_ingredientes.png'), pointer;
}

.cursor2{
    cursor: url('./imgs/cursor_preparo.png'), pointer;
}

.cursor3{
    cursor: url('./imgs/cursor_intrucoes.png'), pointer;
}

#comprar{
    background-color: #ff6b28;
    padding: 13px;
    border-radius: 15px;
    margin-left: 20px;
}


/* Footer */

#footer{
    background-color: #ff6b28;
    margin-top: 100px;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 50px 0 ;
}

#link-footer:hover{
    color: blue;
}