body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #ff6b28;
    font-size: 200%;
}

h3{
    color: #ff6b28;
    margin-top: 100px;

}

a{
    background-color: #ff6b28;
    text-align: center;    
    padding: 13px;
    border-radius: 15px;
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

p{
    text-align: justify;
    line-height: 26px;
    text-indent: 50px;
}




/* Header */

#top-bar{
    background-color: #ff6b28;
    height: 3vw;
    text-align: center;

    padding: 5px;
}

#logo{
    width: 18vw;
}

#h-max{
    max-height: 21vw;
    overflow: hidden;
}

#bolo{
    width: 100vw;
}

/* Conteúdo */

#container{
    width: 800px;
    margin: 60px auto 0;
}

#content{
    width: 800px;
    margin: 60px;
    margin: auto;
    line-height: 40px;
}

.box{
    width: 600px;
    margin-top: 40px;
    border-radius: 10px;
    cursor: url('./imgs/cursor_ingredientes.png'), pointer;
    padding: 50px;
}

.box2{
    width: 600px;
    margin-top: 40px;
    border-radius: 10px;
    cursor: url('./imgs/cursor_preparo.png'), pointer;
    padding: 50px;
}

.box3{
    width: 600px;
    margin-top: 40px;
    border-radius: 10px;
    cursor: url('./imgs/cursor_intrucoes.png'), pointer;
    padding: 50px;
}

.hover:hover{
    box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.2), 0 6px 40px 0 rgba(0, 0, 0, 0.2);
}


/* Footer */

#footer{
    background-color: #ff6b28;
    margin-top: 100px;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 50px 0 ;
}

#link-footer{
    padding: 0;
    margin-left: 0;
    color: rgb(255, 255, 255);
}

#link-footer:hover{
    color: blue;
}