body{
    margin: 0;
    padding: 0;
    background-image: url(imgs/background.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vw;
    color: white;
    font-family: "Sora", monospace;
}

a{
    color: white;
    text-decoration: none;
}

#container{
    width: 500px;
    margin: auto;
    padding: 1em;
}



@media screen and (max-width: 950px) {

    body{
    background-repeat: no-repeat;
    background-size: 100em;
    }

    #container{
        width: 90%;
        margin: auto;
        padding: 1em;
    }
}



#vini{
    width: 125px;
    border-radius: 50%;
}

h2{
    margin-bottom: 0;
}

p{
    color: gray;
}



.btn{
    width: 94%;
    background-image: linear-gradient(to right, #5578BA , #40a376);
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.socialName{
    color: white;
    margin: 0 5% 0;
    padding: 15px;
}

.icon{
    width: 20px;
    margin: 0 5% 0;
}

.icon2{
    width: 30px;
    height: 30px;
    margin: 1em 1em 0 0;
    padding: 15px;
    border-radius: 50%;
    background-image: linear-gradient(to right, #5578BA , #40a376);
    overflow: visible;
}