@font-face {
    font-family: Tungsten;
    src: url(./things/Tungsten-Bold.ttf);
}

body{
    margin: 0;
    padding: 0;
    font-family: Tungsten, Courier, monospace;    
}

#container{
    width: 950px;
    margin: auto;
}

/* Header */








































